.sectionCenter {
	width: 90vw;
	max-width: 30rem;
	margin: 8rem auto 0;
	padding: 2rem;

	background: var(--white);
	border-radius: var(--borderRadius);
	box-shadow: var(--shadow-1);

	transition: var(--transition);
}

.sectionCenter:hover {
	box-shadow: var(--shadow-3);
}


